<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exp.dao.PageDao">
 
<select id="getPageInfo" resultType="com.exp.model.PageBean" parameterType="com.exp.model.PageBean">
	select count(0) maxRowCount from ${tableName } t where ${sqlWhere }
</select>

</mapper>